body {
font-family:"Gotham SSm",Helvetica,Arial,sans-serif;
font-weight: 300;
}

h1{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
veritical-aline: baseline;
}

#container {
    width:1279px;
    margin:auto;
    margin-top:50px;
}

#form{
display: flex;
flex-direction: column;
justify-content: center;
text-align: left-align;
}

.movie-card{

    background-color: white;
    color: #b2b2b2
    margin:15px;
    text-align: center;
    padding: 150px;
    border-style: inset;
}
.center-text {
    text-align: center;
}
