body {
font-family:"Raleway", sans-serif;
font-height: 100%;
font-weight: 300;
background-image: url("/img/peter-lewicki-Wfh650C1OHU-unsplash.jpg");
background-attachment: fixed;
background-size: cover;
background-color: none;


}


h1{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
veritical-aline: baseline;
color:white
}

#container {
    width:1279px;
    margin:auto;
    margin-top:50px;
    color: white;
}

#form{
display: flex;
flex-direction: column;
justify-content: center;
text-align: left-align;
color:white;
}

.movie-card{

    font-style: oblique;
    background-color: light;
    color: #b2b2b2
    margin:15px;
    text-align: center;
    padding: 150px;
    border-style: inset;
}
.center-text {
    text-align: center;
}

.container {
  text-align: right;
}

.button {
  background: #D3D3D3;
  padding: 5px 5px;
  border-radius: 5px;
}

.button:hover {
  background: #34495e;
  color: #fff;
}

.review-popup {
  background: rgba(0, 0, 0, 0.6);
  width: 30%;
  height: 30%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: right;
  alight-items: right;
}

.review-popup-content {
  height: 250px;
  width: 500px;
  background: #ffff;
  padding: 20px;
  border-radius: 5px;
  position: flex;
}

.close {
  top: -15px;
  right: -15px;
  background: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
